.btn-orange{
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #eb5525;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.orange{
    background-color:#eb5525; 
    color: white;
}
.bg-top{
    background-color: #fff;
    border: none;
    text-decoration: none;
}
.nav-top{
    display: flex;
    justify-content:center;
}


